extends layout

block content
  .about.search
    h1.title About intern-au

    p Intern-au is a website to help students find software related internships anywhere in Australia.
    p Internships are collected from a variety of job websites and company websites including LinkedIn, Indeed, Seek. Data is updated daily.
    p The websites tech stack includes Node.js, Express.js, MongoDB and Pug.