doctype html
html
  head
    title Intern AU
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
    link(rel="stylesheet", href="/css/main.css")
  body
    .container(data-init="app")
      block content

      footer
        .grid-3
          p 
          a(href="mailto:lukakerr1@gmail.com") Contact
        .grid-3
          a(href="/about") About
        .grid-3
          a(href="https://github.com/lukakerr") Github
      
    script(src="/js/vendor.js")
    script(src="/js/main.js")